<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://media.giphy.com/media/1YuBJUApThBMm602fm/giphy.gif);">
  <div class="container">
    <h1>Discover <span style="color:#672af9">unique</span> and <span style="color:#672af9">intimate</span> performances by global music artists</h1>
    <p>Stream live events online or attend shows in your city</p>
  </div>
</div>

<%# https://res.cloudinary.com/ddqpdj02o/image/upload/v1614936112/Copy_of_Untitled_ro8o6o.png %>
<%# https://media.giphy.com/media/xUOxeSCqmsninAfUpG/giphy.gif %>