<div class="footer">
<div class="col-lg-4  justify-content-between">
<div class="footer-logo">
<div class="footer-copyright">
    <p><%= image_tag "https://res.cloudinary.com/ddqpdj02o/image/upload/v1614705819/Stand_Up_Comedy_10_j2mygu.png" %> Front<strong>Row</strong> 2021</p>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-spotify"></i></a>
  </div>
  </div>
  </div>



<div class="col-lg-2 col-md-3 col-sm-6">
<h6>Learn More</h6>
<a href="/about">About</a>
</div>

<div class="col-lg-2 col-md-3 col-sm-6">
<h6>Discover</h6>
<a href="https://www.youtube.com/watch?v=oytKUmF01Uo">About</a>
</div>

<div class="col-lg-2 col-md-3 col-sm-6">
<h6>Get Involved</h6>
<a href="https://www.youtube.com/watch?v=oytKUmF01Uo">About</a>
</div>


</div>
