<div class="banner-small" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1503507035555-bcdb0ef0ccbc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjJ8fG11c2ljaWFuc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1>Apply as a venue for FrontRow live shows</h1>
  </div>
</div>

<div class="container">
Hey this is the artists page
</div>