<div class="banner-small" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1503507035555-bcdb0ef0ccbc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjJ8fG11c2ljaWFuc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1>Featured Artists</h1>
  </div>
</div>

<div class="container">

<div class="artist-flex d-flex justify-content-center">
<img class="feature-artist-image" src="https://res.cloudinary.com/ddqpdj02o/image/upload/v1619462454/dloads_gldpyi.jpg">


<div class="flex-bottom-a">
<div class="feature-artist-bio">
<h3> Denz </h3>
<h6>Johannesburg, South Africa 🇿🇦</h6>
  <p>Denz is the newest talent from Johannesburg, and brings too much funk to the soul. </p>
    <%= link_to 'Read More', class: 'btn btn-primary' %>
</div>
</div>
</div>

<div class="artist-flex d-flex justify-content-center">

<img class="feature-artist-image" src="https://images.unsplash.com/photo-1583784161563-a0183c5412ca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=564&q=80">

<div class="flex-bottom-a">
<div class="feature-artist-bio">
<h3> Diego Philips </h3>
<h6>London, United Kingdom 🇬🇧 </h6>
  <p>Diego's soft, soothing tones bring a new definition to smooth jazz. </p>
    <%= link_to 'Read More', class: 'btn btn-primary' %>
</div>
</div>
</div>

<div class="artist-flex d-flex justify-content-center">

<img class="feature-artist-image" src="https://images.unsplash.com/photo-1571442463800-1337d7af9d2f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1504&q=80">

<div class="flex-bottom-a">
<div class="feature-artist-bio">
<h3> Luna Carols </h3>
<h6>Sao Paulo, Brazil 🇧🇷 </h6>
  <p>Luna's soft, soothing tones bring a new definition to smooth jazz. </p>
    <%= link_to 'Read More', class: 'btn btn-primary' %>
</div>
</div>
</div>




</div>
