<div class="banner-small" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://diymusician.cdbaby.com/wp-content/uploads/2016/12/studio-image-diy-blog.jpeg);">
  <div class="container">
    <h1>How It Works</h1>
  </div>
</div>

<div class="container col-8">

<h3>Front Row gives you access to live online and in-person gigs around the world.</h3>
</br>
<div class="flex">

<div class="how-img">

<img src="https://images.prismic.io/sofarlive/ba6b517e-5fdf-49d7-84db-128b0091f71e_200907_Autumn_KL_header_images_3600x3600_v1.jpg?auto=compress,format&rect=0,0,3600,3600&w=3600&h=3600" width="300">

</div>

<div class="how-text">
<h4>Live Show Tickets</h4>
<p>1. Choose a gig by searching artists, locations, genres or events.
</p>
<p>2. You can see whether an event is in person (at venue). Some events are both.
</p>
<p>3. Purchase your tickets for the in person show. 
</p>
<p>4. You'll be sent a follow up email with instructions. 
</p>
<p>5. Check in at the venue, access your tickets and promotional vouchers. 
</p>
</div>

</div>
<br>

<div class="flex">

<div class="how-text">
<h4>Live Stream (Online) Tickets</h4>
<p>1. Choose a gig by searching artists, locations, genres or events.
</p>
<p>2. You can see whether an event is live streamed. Some events are both.
</p>
<p>3. Purchase your ticket for the live stream.
</p>
<p>4. You'll be sent a follow up email with instructions on how to access the live stream. This will be via the event page and you'll need to enter a unique code. 
</p>
<p>5. Stream the event live from your phone or computer.
</p>
</div>

<div class="how-img">

<img src="https://images.prismic.io/sofarlive/ba6b517e-5fdf-49d7-84db-128b0091f71e_200907_Autumn_KL_header_images_3600x3600_v1.jpg?auto=compress,format&rect=0,0,3600,3600&w=3600&h=3600" width="300">

</div>

</div>

</div>