<div class="banner-small" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://diymusician.cdbaby.com/wp-content/uploads/2016/12/studio-image-diy-blog.jpeg);">
  <div class="container">
    <h1>How It Works</h1>
  </div>
</div>

<div class="container col-8">

<h3>Front Row gives you access to live online and in-person gigs around the world.</h3>
</br>
<p>1. Choose a gig by searching artists, locations, genres or events.
</p>
<p>2. Donate to the artist by crowdfunding or simply buy your ticket online.
</p>
<p>3. Attend the online or in-person gig!
</p>

</div>