.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 1.675rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #2d303e;
  background-clip: padding-box;
  border: 1px solid #373a47;
  border-radius: 6px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

// BOOTSTRAP OVERRIDE
.form-control:disabled,
.form-control[readonly] {
  background-color: inherit;
}

.form-control:focus {
  color: #495057;
  background-color: inherit;
  border-color: #93c4fd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(22, 127, 251, 0.25);
}

#event_country {
  height: 50px;
  background: #2d303e;
  border-radius: 1px;
  border-color: #373a47;
  color: #fff;
}

.price-width {
  width: 350px;
}

.bootstrap-val-override {
  border-color: none;
  padding-right: none;
  background-image: none;
}

// SELECT2 START
.select2-container--open .select2-dropdown--below {
  border: 1px solid #373a47;
}

.select2-results ul li {
  background-color: #201d2b;
  border: 1px solid #373a47;
  color: #d8d8db;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #2d303e !important;
  color: white important;
}

.select2-container--default .select2-search--inline .select2-search__field {
  position: inherit !important;
}

.select2-container--default .select2-selection--multiple {
  background-color: #2e303e !important;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  padding-bottom: 5px;
  padding-right: 5px;
  position: relative;
  width: 350px;
}

.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--multiple {
  background-color: inherit;
  border-color: #6729f9 !important;
  box-shadow: 0 0 0 0.2rem rgba(22, 127, 251, 0.25) !important;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  color: white !important;
}

.select2-container--default .select2-results__option--selected {
  background: #2a2c3a !important;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__display {
  cursor: default;
  padding-left: 2px;
  padding-right: 5px;
  color: black;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #373a47 !important;
}

.select2-container--default .select2-selection--multiple {
  padding: 10px 0px 10px 0px;
  height: 55.6px;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  margin-top: 3px !important;
}

// SELECT2 END

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: #2e303e !important;
  background-image: none !important;
  color: #d8d8db;
}

.form-control {
  background: #2e303e;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #2e303e;
}

.form-control:focus {
  color: #b5b4b8;
  background-color: #2e303e !important;
  border-color: #6729f9;
  outline: 0;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: #2e303e !important;
  background-image: none !important;
  color: -internal-light-dark(black, #2e303e) !important;
}

select:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: #2e303e !important;
  background-image: none !important;
  color: -internal-light-dark(black, #2e303e) !important;
}

select:-internal-autofill-selected {
  color: -internal-light-dark(black, #2e303e) !important;
}

/* Change autofill color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 31px #2e303e inset !important;
  -webkit-border-radius: 1px;
  -webkit-text-fill-color: white !important;
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 31px #2e303e inset !important;
  -webkit-border-radius: 1px;
  -webkit-text-fill-color: white !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
  position: relative;
  min-width: 550px !important;
  right: 50px;
}

.form-buffer {
  height: 150px;
}

// BOOTSTRAP HIGHLIGHT VALIDATION START

.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: #6729f900;
  background-image: none;
  border: 1px solid #373a47;
}

.was-validated .form-control:valid,
.form-control.is-valid:focus {
  color: #b5b4b8;
  background-color: inherit;
  border-color: #6729f9;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #6729f9;
}

// BOOTSTRAP HIGHLIGHT VALIDATION END

.trix-content:focus {
  color: #b5b4b8;
  background-color: inherit;
  border-color: #6729f9 !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #6729f9 !important;
}
